Repository NixLine-org/nixline-demo3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NixLine-org/maintainers, @NixLine-org/nix-team, @NixLine-org/devops, @NixLine-org/docs

use reusable auto-approve workflow
  .github/workflows/auto-approve.yml
Owners: @NixLine-org/devops

document policy sync workflow and troubleshooting steps
  README.md
Owners: @NixLine-org/docs

add required permissions for policy sync workflow
  .github/workflows/policy-sync.yml
Owners: @NixLine-org/devops

Policy Sync from baseline
  SECURITY.md
Owners: @NixLine-org/docs

Policy Sync from baseline
  SECURITY.md
Owners: @NixLine-org/docs

fix policy sync workflow documentation
  README.md
Owners: @NixLine-org/docs

Update to smart policy sync workflow
  .github/workflows/policy-sync.yml
Owners: @NixLine-org/devops

Policy sync from baseline@main
  LICENSE
Owners: @NixLine-org/maintainers

Policy sync from baseline@main
  LICENSE
Owners: @NixLine-org/maintainers

Policy sync from baseline@main
  LICENSE
Owners: @NixLine-org/maintainers

Policy sync from baseline@main
  LICENSE
Owners: @NixLine-org/maintainers

Rename NixLine to Lineage
  .DS_Store
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/ci.yml
  .github/workflows/policy-sync.yml
  README.md
  SECURITY.md
Owners: @NixLine-org/maintainers, @NixLine-org/devops, @NixLine-org/docs

Rename NixLine to Lineage
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/ci.yml
  .github/workflows/policy-sync.yml
  README.md
  SECURITY.md
Owners: @NixLine-org/maintainers, @NixLine-org/devops, @NixLine-org/docs

.github/CODEOWNERS:

# CODEOWNERS - Generated from nixline-baseline
# Organization: NixLine-org
# Default Team: @NixLine-org/maintainers
#
# This file is auto-generated. To customize:
# 1. Add a .nixline.toml file to your repository root
# 2. Define [packs.codeowners] section with custom rules
# 3. Run: nix run github:NixLine-org/nixline-baseline#sync

# Default owners for everything
* @NixLine-org/maintainers

# Nix files
*.nix @NixLine-org/nix-team

flake.lock @NixLine-org/nix-team

# CI/CD workflows
.github/workflows/** @NixLine-org/devops

# Documentation
*.md @NixLine-org/docs
